@charset "utl-8";

nav>ul {
    list-style: none;
}

nav>ul>li{
    display: inline;
    padding: 10px;
}

h1{
    background-color: rgb(100, 105, 202);
    font-size: 4em;
}

footer{
    background-color: darkgray;
}

a:hover{
    font-size: 1.2em;
}

h2{
    font-size: 1.5em;
}

body{
    background-color: rgba(99, 167, 180, 0.39);
}

li{
    font-size: 1.2em;
}

h3{
    font-size: 1.4em;
}

.ameinform{
    background-color: lightgreen;
}

table{
    background-color: white;
}

.amekousatu{
    font-size: 1.2em;
}

.ushiinform{
    background-color: lightgreen;
}

.ushikousatu{
    font-size: 1.2em;
}